
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
body {
    background-color: lightblue;
    font-family: roboto;
    margin: 0;
    padding: 0;   
}
#content {
    max-width: 1400px;
    background-color: white;
    margin: 0 auto;
}
nav, footer {
    background-color: steelblue;
    padding: 20px;
    color: white;
    text-align: center;
}
nav a {
    padding: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 15px;
    display: flexbox;
}
nav a:hover {
    background-color: lightblue;
    color: black;
}
h1 { 
    text-align: center;
    font-family: 'rock Salt';
}

img {
    width: 40%;
    display: block;
    margin: 50px auto;    
    border: 4px solid steelblue;
    box-sizing: border-box;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 5px 5px 20px black;

}
img:hover {
    opacity: .6;
    transform: scale(1.1);
}
p {
    background-color: lightblue;
    line-height: 1.5em;
    width: 40%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
#main-topic {
    color: blue
}
footer a {
    
    color: white;
}
footer {
    margin-top: 50px;
}