#content {
    border-radius: 20%;
}

body {
    background-color: #1e1e1e;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8b;
    color: white;
    
}
#main {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    
    
}
#w3 {
    color: #657695;
}
img {
    width: 100%;
}
#long {
    color: #a69fa5;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}